.flash {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash.active {
  background-color: #fafbfc;
}

.error {
  color: red;
}

.input {
}
.submit {
}
